.container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 400px;
}

.box {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.colorBox {
    width: 160px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
}