.container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 400px;
}

.boxColor{
    text-align: center;
    padding: 10px 0;
    width: 150px;
    cursor: pointer;
}

.boxContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    max-width: 300px;
    margin-top: 15px;
    gap: 10px;
}

.box{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.accordionContainer{
    margin: 20px;
}

.accordionTitle{
    background-color:#F0F0F0;
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
}

.accordionContent{
    margin: 15px 15px;
    font-weight: 500;
}

.trafficLight{
    width: 80px;
    background-color: black;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Job board css*/
.jobBoardContainer{
    background-color:#F3F4F6;

}
.jobBoardList{
    display: grid;
    row-gap: 16px;
}
.jobBoardItem{
    background-color: #F3F4F6;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 5px 10px;

}
.loadMoreBtn{
    background-color: #E65C00;
    border-radius: 5px;
    padding: 10px;
    border: none;
    color: white;
    margin-top: 15px;
}
